apiVersion: v1
kind: Secret
metadata:
  name: mongodb-secret
type: Opaque
data:
  connection-string: bW9uZ29kYitzcnY6Ly9yYWtzaGl0cGF0ZWw5MTA6M0F0MGprSU1kalB6aGVnYkBtb3ZpZS1jbHVzdGVyLmtzcWt3cmkubW9uZ29kYi5uZXQvP3JldHJ5V3JpdGVzPXRydWUmdz1tYWpvcml0eSZhcHBOYW1lPW1vdmllLWNsdXN0ZXI=